# Default
* text=auto

# Texts
*.css eol=lf encoding=UTF-8
*.html eol=lf encoding=UTF-8
*.js eol=lf encoding=UTF-8
*.ts eol=lf encoding=UTF-8
*.vue eol=lf encoding=UTF-8
*.md eol=lf encoding=UTF-8
*.txt eol=lf encoding=UTF-8
*.xml eol=lf encoding=UTF-8

# Images
*.gif binary
*.ico binary
*.jpg binary
*.png binary
*.svg eol=lf encoding=UTF-8

# Fonts
*.eot binary
*.otf binary
*.ttf binary
*.woff binary
